@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "./fonts.css"; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* @media screen and (max-width: 1920px) {
  
} */
/* body {
  /* background-color: #ffffff; */
/* min-width: 1920px !important; */
/* } */

input:focus {
  background-color: transparent;
}
body::-webkit-scrollbar {
  /*display: none !important;*/
  /* width: 0vh !important;
  height: 0vh !important; */
}
body::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

body::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar {
  /* display: none !important; */
  width: 0.5vh;
  height: 0.5vh;
}

::-webkit-scrollbar-thumb {
  background-color: gray !important;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

:-webkit-autofill {
  appearance: none !important;
  background-color: gray !important;
  color: #db4437 !important;
}
textarea:focus,
input:focus,
select:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
